/* 8px = 0.5rem
9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (podstawa)
18px = 1.1255rem
20px = 1.25rem
22px = 1.375rem
24px = 1,5rem
26px = 1,625rem
28px = 1,75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2,25rem
38px = 2,375rem
40px = 2,5rem */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 1rem 1rem auto 1.4rem;
}

body {
    width: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.div {
    width: 100%
}

a {
    color: black;
    margin-left: 10px;
    margin-right: 20px;
    transition: all 0.35s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #37a764;
    transition: all 0.35s ease-in-out;
}

.bar {
    background: #37a764;
    height: 8px;
    margin-top: -26px;
}

.date {
    font-size: 0.625rem;
    font-weight: 900;
}

.title {
    font-size: 1.25rem;
    font-weight: 300;
    color: black;
}

.container {
    position: relative;
    padding: 0px;
}

.img {
    width: 95%;
    height: 190px;
    padding-bottom: 20px;
}

.img1 {
    width: 100%;
    height: auto;
}

.info {
    background-color: rgb(198, 201, 198);
}

.image-text1 {
    font-size: 1rem;
    margin-left: 60px;
    position: absolute;
    bottom: 10%;
    left: 3%;
    color: white;
}

.bar1 {
    margin: auto 40px auto 40px;
    width: 50%;
    height: 5px;
    background: #37a764;
}

.bar2 {
    margin-left: 10px;
    margin-top: 20px;
    width: 90%;
    height: 5px;
    background: rgb(198, 201, 198);
}

.bar3 {
    margin-left: 10px;
    margin-top: 20px;
    width: 10%;
    height: 5px;
    background: #37a764;
}

footer {
    background: rgb(198, 201, 198);
    margin-top: 20px;
    padding: 20px 0 20px 20px;
}

nav {
    flex-wrap: wrap;
}

.wrapper-box {
    max-width: 1270px;
    margin: 0 auto;
}

.position-box {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 2;
}

.tittle-bigger {
    font-size: 1.875rem;
    font-weight: 900;
}

.heading {
    font-size: 1.563rem;
    font-weight: 900;
}

.footer-font {
    font-size: 0.875rem;
    font-weight: 300;
}

.carousel-indicators {
    position: relative;
}

.carousel-indicators .active {
    background-color: #37a764;
}

.carousel-indicators li {
    background-color: rgb(198, 201, 198);
    border-radius: 50%;
    height: 13px;
    width: 13px;
    margin-left: 15px;
}

.padding-left {
    padding-left: 30px;
}

.icon {
    padding: 10px 0 0 30px;
    max-width: 30%;
}

.desc {
    padding: 15px;
}

.border-box {
    border: 1px solid rgb(198, 201, 198);
    border-right: none;
}

.border-box-full {
    border: 1px solid rgb(198, 201, 198);
}

.aligns {
    text-align: center;
}

.font-big {
    font-size: 1.875rem;
}

.aligned {
    text-align: right;
}

.button1 {
    background-color: white;
    border: none;
    color: #37a764;
}

.full {
    width: -webkit-fill-available;
}

@media only screen and (max-width: 1199px) {
    nav {
        padding: 0 10px;
    }
    footer {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .font {
        font-size: 1.25rem;
    }
    .font1 {
        font-size: 0.875rem;
    }
    .border-box-right {
        border-right: 1px solid rgb(198, 201, 198);
    }
}

@media only screen and (max-width: 767px) {
    .font {
        font-size: 1rem;
    }
    .direction {
        flex-direction: column;
    }
}

@media only screen and (max-width: 575px) {
    .border-box-right-sm {
        border-right: 1px solid rgb(198, 201, 198);
    }
    .navbar {
        padding-top: 0px;
    }
    .nav-link {
        padding-bottom: 0px;
    }
    .navbar-brand {
        max-width: 64%;
    }
    .font-sm {
        font-size: 0.75rem;
    }
    .position-box {
        bottom: 10px;
    }
}

@media only screen and (max-width: 386px) {
    .nav-link {
        padding-top: 0px;
    }
    .button {
        margin: 0.5rem auto 1.5rem;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: black
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #37a764;
    transition: all 0.35s ease-in-out;
}